.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.logo img {
    width: 1.5rem;
    height: 1.5rem;
}

.logo h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color);
    margin: 0;
    cursor: pointer;
}

.logo p {
    margin: 0;
}

.logo div {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    column-gap: 2.7rem;
    align-items: center;
    margin-bottom: 0;
}

.nav__item a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.nav__icons {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.cart__icon, .fav__icon{
    position: relative;
    cursor: pointer;
}

.barge {
    background: var(--primary-color);
    position: absolute;
    color: #fff;
    top: 25%;
    transform: translateX(65%);
    left: 0;
    left: 0%;
    width: 14px;
    height: 14px;
    /* content: ""; */
    font-size: 0.7rem;
    font-weight: 600;
    z-index: 10;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__icons span i {
    font-size: 1.3rem;
    color: var(--primary-color);
    cursor: pointer;
}

.nav__icons .profile img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.nav__icons .profile {
    position: relative;
    z-index: 9;

   
}

.profile__actions {
    position: absolute;
    background: var(--card-bg-01);
    z-index: 10;
    top: 100%;
    width: 400%;
    transform: translate(-37%);
    display: flex;
    align-items: center;
    line-height: 30px;
    padding: 15px;
    cursor: pointer;
    /* display: none; */
    border: 1px solid rgb(217, 214, 214);
    box-shadow: 1px 1px 1px black;
    justify-content: center;

}

.profile__actions div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile__actions span:hover{
    color: rgb(74, 74, 213);
    font-weight: 500;
}

.profile__actions div span a {
    text-decoration: none;
    color: rgb(96, 95, 95);
}

.profile__actions div span a:hover{
    color: rgb(74, 74, 213);
    font-weight: 500;
}

.mobile__menu {
    font-size: 1.3rem;
    color: var(--primary-color);
    display: none;
}

.nav__active {
    font-weight: 750 !important;
}

.sticky__header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px -3px #ddd;
    background: #fff;
}


@media only screen and (max-width: 768px) {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.67);
        z-index: 999;
        display: none;
    }

    .active__menu {
        display: block;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        z-index: 99999;
        flex-direction: column;
        justify-content: center;
    }

    .logo img {
        width: 1rem;
        height: 1rem;
    }

    .fav__icon i, .cart__icon i {
        font-size: 1.2rem !important;
    }

    .nav__icons span img {
        width: 1.4rem;
        height: 1.4rem;
    }

    .mobile__menu {
        display: block;
    }

    .mobile__menu span i {
        font-size: 1.1rem !important;
    }

    .logo h1 {
        font-size: 1rem;
    }

    .header {
        width: 100%;
        height: 60px;
        line-height: 60px;
    }

   
}




